# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/config.env
build/flash_app_args
build/flash_bootloader_args
build/flash_partition_table_args
build/flash_project_args
build/flasher_args.json
build/ldgen_libraries
build/ldgen_libraries.in
build/MKCooling.bin
build/project_description.json
build/project_elf_src.c
build/rules.ninja
build/CMakeFiles/bootloader-complete
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/mconf-idf-complete
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.15.4/CMakeASMCompiler.cmake
build/CMakeFiles/3.15.4/CMakeCCompiler.cmake
build/CMakeFiles/3.15.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.15.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.15.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.15.4/CMakeSystem.cmake
build/CMakeFiles/3.15.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.15.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/bootloader.dir/Labels.json
build/CMakeFiles/bootloader.dir/Labels.txt
build/CMakeFiles/git-data/grabRef.cmake
build/CMakeFiles/git-data/HEAD
build/CMakeFiles/git-data/head-ref
build/CMakeFiles/mconf-idf.dir/Labels.json
build/CMakeFiles/mconf-idf.dir/Labels.txt
build/bootloader/.bin_timestamp
build/bootloader/.ninja_deps
build/bootloader/.ninja_log
build/bootloader/bootloader.bin
build/bootloader/build.ninja
build/bootloader/cmake_install.cmake
build/bootloader/CMakeCache.txt
build/bootloader/compile_commands.json
build/bootloader/config.env
build/bootloader/project_description.json
build/bootloader/project_elf_src.c
build/bootloader/rules.ninja
build/bootloader/CMakeFiles/cmake.check_cache
build/bootloader/CMakeFiles/CMakeOutput.log
build/bootloader/CMakeFiles/TargetDirectories.txt
build/bootloader/CMakeFiles/3.15.4/CMakeASMCompiler.cmake
build/bootloader/CMakeFiles/3.15.4/CMakeCCompiler.cmake
build/bootloader/CMakeFiles/3.15.4/CMakeCXXCompiler.cmake
build/bootloader/CMakeFiles/3.15.4/CMakeDetermineCompilerABI_C.bin
build/bootloader/CMakeFiles/3.15.4/CMakeDetermineCompilerABI_CXX.bin
build/bootloader/CMakeFiles/3.15.4/CMakeSystem.cmake
build/bootloader/CMakeFiles/3.15.4/CompilerIdC/CMakeCCompilerId.c
build/bootloader/CMakeFiles/3.15.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/bootloader/CMakeFiles/git-data/grabRef.cmake
build/bootloader/CMakeFiles/git-data/HEAD
build/bootloader/CMakeFiles/git-data/head-ref
build/bootloader/CMakeFiles/mconf-idf.dir/Labels.json
build/bootloader/CMakeFiles/mconf-idf.dir/Labels.txt
build/bootloader/config/kconfig_menus.json
build/bootloader/config/sdkconfig.cmake
build/bootloader/config/sdkconfig.h
build/bootloader/config/sdkconfig.json
build/bootloader/esp-idf/cmake_install.cmake
build/bootloader/esp-idf/bootloader/cmake_install.cmake
build/bootloader/esp-idf/bootloader_support/cmake_install.cmake
build/bootloader/esp-idf/efuse/cmake_install.cmake
build/bootloader/esp-idf/esp32/cmake_install.cmake
build/bootloader/esp-idf/esp_common/cmake_install.cmake
build/bootloader/esp-idf/esp_rom/cmake_install.cmake
build/bootloader/esp-idf/esptool_py/cmake_install.cmake
build/bootloader/esp-idf/log/cmake_install.cmake
build/bootloader/esp-idf/main/cmake_install.cmake
build/bootloader/esp-idf/micro-ecc/cmake_install.cmake
build/bootloader/esp-idf/partition_table/cmake_install.cmake
build/bootloader/esp-idf/soc/cmake_install.cmake
build/bootloader/esp-idf/spi_flash/cmake_install.cmake
build/bootloader/esp-idf/xtensa/cmake_install.cmake
build/bootloader/mconf-idf-prefix/tmp/mconf-idf-cfgcmd.txt
build/bootloader/mconf-idf-prefix/tmp/mconf-idf-cfgcmd.txt.in
build/bootloader-prefix/src/bootloader-stamp/bootloader-configure
build/bootloader-prefix/src/bootloader-stamp/bootloader-done
build/bootloader-prefix/src/bootloader-stamp/bootloader-download
build/bootloader-prefix/src/bootloader-stamp/bootloader-install
build/bootloader-prefix/src/bootloader-stamp/bootloader-mkdir
build/bootloader-prefix/src/bootloader-stamp/bootloader-patch
build/bootloader-prefix/src/bootloader-stamp/bootloader-update
build/bootloader-prefix/tmp/bootloader-cfgcmd.txt
build/bootloader-prefix/tmp/bootloader-cfgcmd.txt.in
build/config/kconfig_menus.json
build/config/sdkconfig.cmake
build/config/sdkconfig.h
build/config/sdkconfig.json
build/esp-idf/cmake_install.cmake
build/esp-idf/app_trace/cmake_install.cmake
build/esp-idf/app_update/cmake_install.cmake
build/esp-idf/asio/cmake_install.cmake
build/esp-idf/bootloader/cmake_install.cmake
build/esp-idf/bootloader/flash_bootloader_args.in.in2
build/esp-idf/bootloader_support/cmake_install.cmake
build/esp-idf/bt/cmake_install.cmake
build/esp-idf/coap/cmake_install.cmake
build/esp-idf/console/cmake_install.cmake
build/esp-idf/cxx/cmake_install.cmake
build/esp-idf/driver/cmake_install.cmake
build/esp-idf/efuse/cmake_install.cmake
build/esp-idf/esp-tls/cmake_install.cmake
build/esp-idf/esp32/cmake_install.cmake
build/esp-idf/esp32/esp32_out.ld
build/esp-idf/esp32/ld/esp32.project.ld
build/esp-idf/esp_adc_cal/cmake_install.cmake
build/esp-idf/esp_common/cmake_install.cmake
build/esp-idf/esp_eth/cmake_install.cmake
build/esp-idf/esp_event/cmake_install.cmake
build/esp-idf/esp_gdbstub/cmake_install.cmake
build/esp-idf/esp_http_client/cmake_install.cmake
build/esp-idf/esp_http_server/cmake_install.cmake
build/esp-idf/esp_https_ota/cmake_install.cmake
build/esp-idf/esp_https_server/cmake_install.cmake
build/esp-idf/esp_local_ctrl/cmake_install.cmake
build/esp-idf/esp_ringbuf/cmake_install.cmake
build/esp-idf/esp_rom/cmake_install.cmake
build/esp-idf/esp_websocket_client/cmake_install.cmake
build/esp-idf/esp_wifi/cmake_install.cmake
build/esp-idf/espcoredump/cmake_install.cmake
build/esp-idf/esptool_py/cmake_install.cmake
build/esp-idf/esptool_py/flash_project_args.in
build/esp-idf/esptool_py/flash_project_args.in2
build/esp-idf/esptool_py/flasher_args.json.in
build/esp-idf/esptool_py/flasher_args.json.in2
build/esp-idf/expat/cmake_install.cmake
build/esp-idf/fatfs/cmake_install.cmake
build/esp-idf/freemodbus/cmake_install.cmake
build/esp-idf/freertos/cmake_install.cmake
build/esp-idf/heap/cmake_install.cmake
build/esp-idf/idf_test/cmake_install.cmake
build/esp-idf/jsmn/cmake_install.cmake
build/esp-idf/json/cmake_install.cmake
build/esp-idf/libsodium/cmake_install.cmake
build/esp-idf/log/cmake_install.cmake
build/esp-idf/lwip/cmake_install.cmake
build/esp-idf/main/cmake_install.cmake
build/esp-idf/mbedtls/cmake_install.cmake
build/esp-idf/mbedtls/mbedtls/cmake_install.cmake
build/esp-idf/mbedtls/mbedtls/include/cmake_install.cmake
build/esp-idf/mbedtls/mbedtls/library/cmake_install.cmake
build/esp-idf/mdns/cmake_install.cmake
build/esp-idf/mqtt/cmake_install.cmake
build/esp-idf/newlib/cmake_install.cmake
build/esp-idf/nghttp/cmake_install.cmake
build/esp-idf/nvs_flash/cmake_install.cmake
build/esp-idf/openssl/cmake_install.cmake
build/esp-idf/partition_table/cmake_install.cmake
build/esp-idf/protobuf-c/cmake_install.cmake
build/esp-idf/protocomm/cmake_install.cmake
build/esp-idf/pthread/cmake_install.cmake
build/esp-idf/sdmmc/cmake_install.cmake
build/esp-idf/soc/cmake_install.cmake
build/esp-idf/spi_flash/cmake_install.cmake
build/esp-idf/spiffs/cmake_install.cmake
build/esp-idf/tcp_transport/cmake_install.cmake
build/esp-idf/tcpip_adapter/cmake_install.cmake
build/esp-idf/ulp/cmake_install.cmake
build/esp-idf/unity/cmake_install.cmake
build/esp-idf/vfs/cmake_install.cmake
build/esp-idf/wear_levelling/cmake_install.cmake
build/esp-idf/wifi_provisioning/cmake_install.cmake
build/esp-idf/wpa_supplicant/cmake_install.cmake
build/esp-idf/xtensa/cmake_install.cmake
build/kconfig_bin/mconf-idf
build/kconfig_bin/zconf.hash.c
build/kconfig_bin/zconf.lex.c
build/kconfig_bin/zconf.tab.c
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-build
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-configure
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-done
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-download
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-install
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-mkdir
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-patch
build/mconf-idf-prefix/src/mconf-idf-stamp/mconf-idf-update
build/mconf-idf-prefix/tmp/mconf-idf-cfgcmd.txt
build/mconf-idf-prefix/tmp/mconf-idf-cfgcmd.txt.in
build/partition_table/partition-table.bin
build/CMakeFiles/3.17.3/CMakeASMCompiler.cmake
build/CMakeFiles/3.17.3/CMakeCCompiler.cmake
build/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.3/CMakeSystem.cmake
build/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/bootloader/CMakeFiles/3.17.3/CMakeASMCompiler.cmake
build/bootloader/CMakeFiles/3.17.3/CMakeCCompiler.cmake
build/bootloader/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
build/bootloader/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
build/bootloader/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
build/bootloader/CMakeFiles/3.17.3/CMakeSystem.cmake
build/bootloader/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
build/bootloader/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
